SERVER_PORT=443 #The port on which the server is running
SERVER_URL=http://localhost


USE_SSL=false
SSL_DIR=path to dir with ssl key
SSL_KEY=file name with key
SSL_CERT=file name with ssl cert
SSL_CA_CERTS

IDOSELL_API_KEY=
IDOSELL_DOMAIN_URL=
FILE_NAME=